<div class="container mb-5">
    <div class="row">
        <div class="col-4 offset-4">
            <div class="card">
                <form class="card-bordy">
                    <div class="form-group">
                        <input class="form-control"
                        type="text"
                        name="searchTerm"
                        placeholder="Rechercher un Pokémon"
                        #searchField
                        [value]="searchTerm()"
                        (input)="searchTerm.set(searchField.value)"
                        >
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        @if(loading()) {
            <div class="d-flex justify-content-center">
                <div class="spinner-border text-success" role="status"></div>
            </div>
        }
        @for (pokemon of pokemonListFiltered(); track pokemon.id) {
            <div class="col-md-4">
                <a class="card mb-3" appPokemonBorder [pokemonType]="pokemon.types[0]"
                [routerLink]="['/pokemons', pokemon.id]"
                >
                    <div class="row g-0">
                        <div class="col-md-4 d-flex justify-content-center align-items-center bg-light"
                        [id]=`pokemon-${pokemon.id}`
                        >
                            <img class="img-fluid rounded-start" 
                            [src]="pokemon.picture" [alt]="pokemon.name">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h2 class="card-title">{{ pokemon.name }}</h2>
                                <p class="card-text fst-italic">{{ pokemon.created | date: 'shortDate' }}</p>
                                <p class="card-text pb-0 mb-0"><span class="fst-italic">Point de vie:</span> {{ pokemon.life }}</p>
                                <p class="mt-1 mb-0"><span class="fst-italic">Taille:</span> {{ size(pokemon) }}</p>
                                <p class="mt-2"><span class="fst-italic">Dégat:</span> {{ pokemon.damage}}</p>
                            </div>
                        </div>       
                    </div>
                </a>
            </div>
            
        }
    </div>
</div>